main {
    margin-top: 100px;
    width: 100vw;
    padding: 20px 40px;
}

main .container-main {
    display: grid;
    grid-template-columns: 1fr 400px; 
    gap: 30px;
}

#match-fla { 
    display: flex;
    flex-direction: column;
}

#match-fla card-next-game {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.side-widgets {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main .container-sec {
    margin-top: 40px;
}

@media (max-width: 940px) {
    main .container-main {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        width: 100%;
    }
}